body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: rgb(212, 255, 255);
}


input {
    padding:10px;
    width: 100%;
    height:30px;
    border:#27a2c4 1px solid;
    box-sizing: border-box;
    background-color: #27a2c442;
    border-radius: 5px;
}

button {
    padding: 10px, 20px;
    margin-top:10px;
    height:30px;
    background-color:#27a2c4;
    border: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border:1px #87ddf5 solid;
}
button:hover{
    background-color:#20809b;
}
ul{
    margin-top:10px;
    list-style: none;
    padding:0;
}
li{
    margin-top: 10px;
}
li a{
    
    color:#27a2c4;;
}
li a:hover{
    
    color:#2087a3;;
}