
body{
    text-align: center;
    background-color: green ;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 100px;
    text-shadow: white 2px 2px 2px;
}

#message-el {
    font-style:italic;
    font-size: xx-large;


}
.button{
    border:none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: large;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    margin-top:2px ;
    margin-bottom: 2px;
}
.button:hover{
    background-color: rgb(180, 137, 27);


}