#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;
    padding: 3vw;
    margin: 2.5vh auto;
    max-width:80%;
    background-color:#f8bbd08f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    overflow-y: scroll;
    
}
#books{
    top:0px;
}
@media screen and (max-width: 600px) {
   #grid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

   }
  }