#AddForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    gap:10px;
    background-color: #f8bbd0;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
   &#AddForm input, textarea{
        
        width: 70%;
        &:focus{
            background-color: #f79aba;
            border: 2px solid #f79aba;
        }
       
    }
    &#AddForm button{
        width: 90px;
        padding:5px;
    }
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
}