.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 5px;
    height: 270px;
    width: 45%;
    background-color: #fca8c5d5;
    color: white;
    position: relative;
    padding:3px;
    &.review .Username{
        text-decoration: underline;
    }
}

.comment{
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgba(124, 124, 124, 0.274);
    width: 70%;
    min-height: 100px;
    text-align: left;
    word-spacing: 1px;
    padding-left: 10px;
    position: relative;
    overflow-wrap: break-word; 

}
.like{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 10px;
    &.like svg:hover, .favorite-icon {
        transform: scale(1.2); /* Increase the size of the heart icon on hover */
      }
}
.stars{
    position: absolute;
    bottom: 5px;
   
}
