#gridrev{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3vw;
    margin: 2.5vh auto;
    max-width:80%;
    background-color:#f8bbd08f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 500px;
    overflow-y: scroll;
    align-items: center;
}